/* .body-container { */
/*     font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif; */
/*     max-width: 600px; */
/*     margin: 0 auto; */
/*     padding-top: 72px; */
/*     -webkit-font-smoothing: antialiased; */
/*     font-size: 1.125em; */
/*     color: #333; */
/*     line-height: 1.5em; */
/* } */

h1, h2, h3 {
    color: #000;
}
h1 {
    font-size: 2.5em
}

h2 {
    font-size: 2em
}

h3 {
    font-size: 1.5em
}

a {
    text-decoration: none;
    color: #09f;
}

a:hover {
    text-decoration: underline;
}

#topnote {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.floating-page {
    position: absolute;
    z-index: 1;
    background-color: rgba(100, 100, 100, 0.5);

    color: black;
    /* position: absolute; */
    font-size: 18pt;
    top: 0;
    z-index: 1;
    /* position: fixed; */
    /* margin: 0; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
    width: 101.25%;
}

.responsive-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5% 0;
    color: black;
}

.responsive-header:hover * {
    text-decoration: none;
}

.logo {
    height: 10vw;
    width: 10vw;
    display: inline-block;
    margin-right: 2%;
    margin-top: 0.5%;
}

.nameContainer {
    display: flex;
    flex-direction: column;
    font-size: 5vw;
}

.nameLine {
    font-family: monospace;
}


@media(min-width: 700px) {
    .logo {
        height: 8vw;
        width: 8vw;
    }
    .nameContainer {
        font-size: 4vw;
    }

    .responsive-header {
        margin: 1% 0;
    }
}

@media(min-width: 600px) {
}

.test-hsl-box {
    display: inline-block;
    height: 15px;
    width: 15px;
    transition: margin-bottom 0.5s;
}

.test-hsl-box:hover {
    margin-bottom: 5px;
}

.card-list {
    list-style-type: none;
}

.card, .card-link {
    color: white;
    max-width: 75vw;
    max-height: 75vw;
    display: inline-block;

    margin: 0.25em 0;

    transition: letter-spacing 0.5s;
}

.card {
    padding: 6px 4px;
}

.card:hover {
    letter-spacing: 0.025em;
}

.title {
    transition: letter-spacing 0.25s;
}

.card:hover .title {
    letter-spacing: 0.5em;
}
